* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: "Anek Latin", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.center {
  margin-left: 10.9%;
  margin-right: 10.9%;
}

.background {
  background-image: url(../img/bg.jpeg);
  position: absolute;
  background-size: cover;
  width: 100%;
  z-index: -2;
}
.background__round {
  background-image: url(../img/bg-round.png);
  position: absolute;
  top: -588px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 1278px;
  z-index: -1;
}

.header {
  position: relative;
  z-index: 2;
  margin: 0 3.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
.header__logo {
  width: 120px;
  height: 92px;
}
.header__nav {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
}
.header__req {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  border-bottom: 3px solid #fff;
  font-family: "Inter", sans-serif;
}

.nav__list {
  display: flex;
  gap: 70px;
}

.main__face {
  margin-top: 166px;
}
.main__category {
  margin-top: 142px;
}

.face {
  display: flex;
  flex-direction: column;
}
.face__img {
  width: 657px;
  height: 200px;
  margin-bottom: 45px;
}
.face__p {
  width: 618px;
  height: 234px;
  align-self: flex-end;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.015em;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category__h2 {
  font-weight: 100;
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 106px;
  margin-right: 50%;
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.product__style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-right: 2.25%;
}
.product__style-icon {
  width: 150px;
  height: 150px;
}
.product__style-name {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  width: 225px;
  text-align: center;
}
.product__price {
  margin-right: 4.56%;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  font-family: "Inter", sans-serif;
}
.product__price-num {
  width: 210px;
}
.product__price-sub {
  margin-top: -8px;
  width: 204px;
  text-align: center;
  font-size: 18px;
}
.product__description {
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 636px;
  margin-top: 36px;
}
.product__description-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.015em;
}
.product__description-button {
  color: #C94615;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  padding: 8px 14px 7px 15px;
  border: 2px solid #C94615;
  border-radius: 100px;
  width: 176px;
  background-color: transparent;
  align-self: flex-end;
  transition: all 0.3s;
  font-family: "Anek Latin", sans-serif;
}
.product__description-button:hover {
  color: black;
  border: 2px solid black;
  background-color: #C94615;
}

.footer {
  margin-top: 213px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.footer__a {
  color: rgba(255, 255, 255, 0.6);
}
.footer__nav {
  align-self: center;
}

.contacts {
  display: flex;
  margin-bottom: 220px;
}
.contacts__text {
  display: flex;
  flex-direction: column;
  gap: 52px;
  margin-right: 16.7%;
  margin-left: 6%;
}
.contacts__p {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.015em;
  width: 636px;
}
.contacts__connect {
  display: flex;
  gap: 114px;
}
.contacts__first {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contacts__first-way {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
}
.contacts__first-number {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.contacts__second {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contacts__second-way {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
}
.contacts__second-mail {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.contacts__go {
  width: 200px;
  height: 200px;
  font-weight: 400;
  font-size: 27px;
  line-height: 30px;
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(201, 70, 21), rgb(255, 255, 255) 88%);
  color: #fff;
  border-color: #C94615;
  transition: all 0.3s;
}
.contacts__go:hover {
  color: #C94615;
  scale: 1.1;
}

@media (min-width: 1700px) {
  .header {
    margin-left: 8%;
    margin-right: 8%;
  }
  .center {
    margin-left: 20%;
    margin-right: 20%;
  }
}/*# sourceMappingURL=styles.css.map */